.carousel{
    width:60%;
    height: 500px;
    margin-left: 20%;
}
.carouselInner{
    height: 100%;
    width: 100%;
    background-image: url("../images/wooden.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.left {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
    display: grid;
    place-items: centre;
    color: white ;
    display: grid;
    place-items: center;
}

.centre {
    flex: 80%;
    height: 100%;
    display: grid;
    place-items: center;
    ;
}

.right {
    flex: 5%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
    color: white ;
    display: grid;
    place-items: center;
}

.head{
    color:wheat;
    background-color: rgb(0, 0, 0 , 0.6);
    border-radius: 15px;
    padding:20px;   
    position: cover;
}
.heading{
    text-align: center;
    position: cover;
}
.para{
  color: white;
  background-color: rgb(0, 0, 0 , 0.6);
  border-radius: 15px;
  font-weight: 200;
  padding:30px;
  position: cover;
}


@media screen and (max-width: 400px) {

    .carousel{
        height: 700px;
        place-items: center;
        width: fit-content;
        margin-left: 10%;
    }  
}
